[Unit]
Description=ODCS backend service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=odcs
Group=apache
ExecStart=/usr/bin/odcs-backend

[Install]
WantedBy=multi-user.target
