global-exclude *.pyc *.pyo
include LICENSE
include README.md
include requirements.txt
include test-requirements.txt
recursive-include contrib *
recursive-include docs *.txt *.rst *.md
recursive-include odcs *
recursive-include tests *
